<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="">
    <table>
        <thead>
        <th>ID</th>
        <th>UF</th>
        <th>Nome</th>
        <th>E-Mail</th>
        <th>TELEFONE</th>
        </thead>
        <tbody>
        <% for(var i = 0; i < clients.length; i++){ %>
            <tr>
                <td><%= clients[i].id %></td>
                <td><%= clients[i].uf %></td>
                <td><%= clients[i].name %></td>
                <td><%= clients[i].email %></td>
            </tr>
        <% } %>

        </tbody>
    </table>
</div>
</body>
</html>